In [1]:
!pip install scikit-learn --upgrade --quiet

In [2]:
!pip install opendatasets --upgrade --quiet

In [3]:
!pip install kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

api.dataset_download_files('jsphyg/weather-dataset-rattle-package', path='./data', unzip=True)

Requirement already satisfied: kaggle in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (6.33.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (80.7.1)
Requirement already satisfied: six>=1.10 in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\utilisateur\appdata\local\programs\python\python313\lib\site-packages (from tqdm->kaggle) (0.4.6)
Dataset URL: https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package

In [6]:
import os
os.listdir('.')

['data', 'Weather observation.ipynb']

In [7]:
os.listdir('data')

['weatherAUS.csv']

In [9]:
import pandas as pd
import os

csv_path = os.path.join('data', 'weatherAUS.csv')
df = pd.read_csv(csv_path)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [10]:
import os
os.listdir('.')

['data', 'Weather observation.ipynb']